@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100dvh;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;

  font-family: "Montserrat Variable", sans-serif;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* --- Styles for React Color Picker START --- */
body .rcp-root {
  --rcp-background-color: transparent;
  --rcp-field-input-color: #000000;
  /* --rcp-field-input-border-color */
  /* --rcp-field-label-color */
}

body .rcp-saturation {
  border-radius: 10px;
}

body .rcp-field-input {
  border: none;
}

/* --- END --- */