@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;

  font-family: "Montserrat Variable", sans-serif;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
